.modal45123 {
    display: flex;
    align-items: center;
    justify-content: center;

    .papas54545 {
        width: 400px;
        padding: 10px;
        max-height: 600px;
        overflow-y: auto;
      }
}