Header{
    width: 98%;
    height: 6%;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 5px;
}
#presentation_heading{
    font-size: xx-large;
}
#FormContainer{
    width: 97%;
    margin: 3px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}
label{
    font-size: x-large;
    margin-bottom: 10px;
}
#presentationName{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;

}
.presentationUrlCheckbox{
    margin: 10px;
}
#FormSubmitButton{
    width: 20%;
    height: 50px;
    margin-top: 20px;
    margin-left: 35%;
    cursor: pointer;
    border-radius: 10px;
    background: #5d1af1;
    color: white;
    font-size: 20px;
}