.castingscreen-dropdown {
  /* width: 100%;
  height: 100%; */
  overflow-y: scroll;
  transition: height 0.5s ease;
}

.castingscreen-dropdown::-webkit-scrollbar {
  display: none;
}

.urlcheckbox {
  margin-right: 25px;
}

li {
  margin: 5px 10px 25px 10px;
  height: 45px;
  list-style-type: none; /* Remove bullets */
  cursor: pointer; /* Add cursor pointer for better UX */
}

li:hover {
  background-color:rgb(162, 176, 240);
  border-radius: 10px;
}

input {
  height: 20px;
  width: 20px;
}

label {
  font-size: 2rem;
}

